@mixin search() {
  form {
    .input-group {
      background-color: #62626226;
    }

    input {
      border: transparent;
      height: 44px;
      border-right: none;
      background-color: transparent;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: unset;
      outline: 0;
    }

    .form-control:focus + .fa {
      background-color: #fff;
    }

    i {
      width: 44px;
      height: 44px;
      line-height: 43px;
      color: $color-primary;
      text-align: center;
      background-color: transparent;

      &:hover {
        color: $color-second;
        background-color: $color-primary;
        transition: all 0.4s ease;
        cursor: pointer;
      }
    }
  }
}

@mixin categories($fontweight) {
  height: 2rem;
  line-height: 2rem;
  margin-bottom: initial;
  color: #14171c;
  font-size: 1.5rem;
  font-weight: $fontweight;
}

@mixin product {
  .item {
    img {
      width: 100%;
    }
    .text {
      h5 {
        overflow: hidden;
        font-weight: 700;
        height: 2.625rem;
        font-size: 0.9375rem;
        color: #29303b;
        margin-bottom: 0.625rem;
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        color: #686f7a;
      }
      i {
        color: #f4c150;
      }
      .rating__point {
        color: #505763;
      }
      .sumary {
        font-size: 12px;
        font-weight: 400;
        color: #686f7a;
        margin-left: 5px;
      }
    }
  }
}
